{{define "title"}}TFT Builder{{end}}

{{define "content"}}
<main>
    <!-- Search Bar -->
    {{template "search-bar" .}}

    <!-- Main Content -->
    <div>
        <!-- Hexagon Grid -->
        {{template "hex-grid" .}}
        
        <!-- Units Grid -->
        {{template "units-grid" .}}
    </div>
</main>
{{end}}

{{template "base" .}}
