/* ============================================
   FONTS - Normal Typography
   ============================================ */

/* Beaufort - Light */
@font-face {
  font-family: 'Beaufort';
  src: url('../../fonts/BeaufortforLOL-Light.woff2') format('woff2');
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

/* Beaufort - Regular */
@font-face {
  font-family: 'Beaufort';
  src: url('../../fonts/BeaufortforLOL-Regular.woff2') format('woff2');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

/* Beaufort - Medium */
@font-face {
  font-family: 'Beaufort';
  src: url('../../fonts/BeaufortforLOL-Medium.woff2') format('woff2');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

/* Beaufort - Bold */
@font-face {
  font-family: 'Beaufort';
  src: url('../../fonts/BeaufortforLOL-Bold.woff2') format('woff2');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

/* Beaufort - Heavy */
@font-face {
  font-family: 'Beaufort';
  src: url('../../fonts/BeaufortforLOL-Heavy.woff2') format('woff2');
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}

/* ============================================
   FONTS - Italic Typography
   ============================================ */

/* Beaufort - Light Italic */
@font-face {
  font-family: 'Beaufort';
  src: url('../../fonts/BeaufortforLOL-LightItalic.woff2') format('woff2');
  font-weight: 300;
  font-style: italic;
  font-display: swap;
}

/* Beaufort - Italic */
@font-face {
  font-family: 'Beaufort';
  src: url('../../fonts/BeaufortforLOL-Italic.woff2') format('woff2');
  font-weight: 400;
  font-style: italic;
  font-display: swap;
}

/* Beaufort - Medium Italic */
@font-face {
  font-family: 'Beaufort';
  src: url('../../fonts/BeaufortforLOL-MediumItalic.woff2') format('woff2');
  font-weight: 500;
  font-style: italic;
  font-display: swap;
}

/* Beaufort - Bold Italic */
@font-face {
  font-family: 'Beaufort';
  src: url('../../fonts/BeaufortforLOL-BoldItalic.woff2') format('woff2');
  font-weight: 700;
  font-style: italic;
  font-display: swap;
}

/* Beaufort - Heavy Italic */
@font-face {
  font-family: 'Beaufort';
  src: url('../../fonts/BeaufortforLOL-HeavyItalic.woff2') format('woff2');
  font-weight: 900;
  font-style: italic;
  font-display: swap;
}
