{{define "hex-grid"}}
<div>
    {{ range .HexRows }}
        {{ $row := . }}
        {{ range $.HexCols }}
            <div  
                data-row="{{ $row }}" 
                data-col="{{ . }}"
            >
                <div>
                    <div></div>
                    <div></div>
                </div>
            </div>
        {{ end }}
    {{ end }}
</div>

{{end}}